@import url('https://fonts.googleapis.com/css?family=Rubik:400&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5; 
}

:root {
    --background: #ffffff;
    --cs-primary: #25b9f4;
    --cs-surface: #ffffff;
    --cs-surface-2: #eef4f8;
    --cs-separator: #e8ecf0;
    --cs-on-surface-primary: #000000;
    --cs-on-surface-secondary: #657786;
    --font-family-primary: 'DM Sans', Aria, sans-serif;
    --joke-author-img-width: 60px;
    --joke-width: 480px;
    --layout-container-width: 920px;
}

h1 {
  font-size: 16px;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
    -webkit-appearance: none;
    background-color: #e8ecf0;
    border: 2px solid #e8ecf0;
    border-radius: 25px;
    font-size: 12px;
    line-height: 1;
    outline: none;
    padding: 8px 12px;
    width: 100%;
}

button {
    background-color: #6200ee;
    padding: 12px 30px 12px;
    margin-bottom: 0;
    width: 100%;
    color: white;
    cursor: pointer;
    margin: 15px 0;
    border-radius:4px;
}

.wrapper{
  display: flex;  
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;  
}

aside {
  width: 40px;
  padding: 20px;
}

main {
  flex: 1; 
  margin: 0 30px;
  border-left: 1px solid var(--cs-separator);
  border-right: 1px solid var(--cs-separator);
}

menu {
  max-width: 300px;
  padding: 20px;
} 
.section {
    background-color: var(--cs-surface-2);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.nav_item {
    color: var(--cs-on-surface-primary);
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.nav_item:focus {
    color: #6200ee; 
}

.section_block--header {
    border-bottom: 1px solid var(--cs-separator);
  margin-bottom:8px;
}

.feed_header {
    border-bottom: 1px solid var(--cs-separator);
    padding: 20px;
}

.feed_body { 
    padding: 10px 20px;
}

.feed_item {
  padding: 20px;
  border-bottom: 1px solid var(--cs-separator);
  display: flex;
}

.feed_autor {
    color: var(--cs-on-surface-primary);
    font-weight: bold;
}

.feed_amount{
  vertical-align: top;
  margin-right: 10px;
}

.feed_text {
    font-size: 18px;
    margin-top: 7px;
}
.feed_img img {
    border-radius: 50%;
    max-width: 100%;
}